<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="#{app.title}"></title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">

    <h2 class="text-center" th:text="${execFile.node.nameFormatted}"> </h2>
    <h3 class="text-center" style="padding-bottom: 30px;" th:text="#{editexecfileform.title}"> </h3>

    <div>
        <form class="form-horizontal" th:object="${execFile}" th:action="@{/execFile/edit}" method="post">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{node}" />

            <div class="form-group">
                <label class="col-sm-3 control-label" th:text="#{editexecfileform.type}"></label>
                <div class="col-sm-2">
                    <select id="type" class="form-control" th:field="*{type}">
                        <option value="START" th:text="#{editexecfileform.start}"></option>
                        <option value="RESTART" th:text="#{editexecfileform.restart}"></option>
                        <option value="STOP" th:text="#{editexecfileform.stop}"></option>
                        <option value="CUSTOM" th:text="#{editexecfileform.custom}"></option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" th:text="#{editexecfileform.name}"></label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" th:field="*{name}" id="name" />
                </div>
                <label class="col-sm-2 control-label" th:text="#{editexecfileform.order}"></label>
                <div class="col-sm-1" data-toggle="tooltip" data-placement="bottom" th:title="#{editexecfileform.order.message}">
                    <input type="text" class="form-control" th:field="*{executionOrder}" required="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" th:text="#{editexecfileform.path}"></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" th:field="*{path}" required="true" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" th:text="#{editexecfileform.params}"></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" th:field="*{parameters}" />
                </div>
            </div>

            <div class="row text-center">
                <button type="submit" class="btn btn-default" th:text="#{button.confirm}"></button>
                <a href="#" th:href="${'/execFiles/'+execFile.node.id}" class="btn btn-default" role="button" th:text="#{button.cancel}"></a>
            </div>

        </form>
    </div>

</div>

    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

<script>

    $("#type").focus();

    $( document ).ready(function() {
        if($("#type").val() == "CUSTOM"){
            $("#name").attr("required", "");
            $("#name").removeAttr("disabled");
        } else {
            $("#name").removeAttr("required");
            $("#name").attr("disabled","");
        }
    });

    $("#type").change(function() {
        if($(this).val() == "CUSTOM"){
            $("#name").attr("required", "");
            $("#name").removeAttr("disabled");
        } else {
            $("#name").removeAttr("required");
            $("#name").attr("disabled","");
            $("#name").val("");
        }
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>
</body>
</html>